.footer_wrapper{
    margin-top:10px;
    padding: 0rem !important;
    width: 90% !important;
     border-top: 1px solid rgba(0,0,0,0.2)
}
.footer_text1{
    // margin-left: 65px;
    padding-top: 10px;
}
.footer_text2{
    // margin-right: 40px;
    padding-top: 10px;
    
}
.ftext{
    text-align: left;
    font-family: $font-5;
    font-size:0.7rem;
    color:rgba(0,0,0,0.5);
    font-weight:400;
    padding: 15px;
    
}