.m-col-2{
    width:12% !important;
}
.m-col-1{
    width:15% !important;
}
.m-text-head{
    font-size:0.6rem;
    font-weight:bold;
    font-family: $font-6;
}
.m-text-status-active{
    border-radius: 3px;
    background-color: rgba(green,0.3);
    font-size:0.5rem;
    font-family: $font-6;
    padding: 0.2rem;
}
.m-text-status-closed{
    border-radius: 3px;
    background-color: rgba(red,0.3);
    font-size:0.5rem;
    font-family: $font-6;
    padding: 0.2rem;
}
.list-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgba(202, 201, 201, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    // &:before {
    //     content: "";
    //     width: 50%;
    //     border-top: 1px solid rgba(0,0,0,0.2);
    //     // position: absolute;
    // }
}
.status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.elipse{
    
    
    .img-elipse{
        width: 15px !important;
        border: 1px solid black;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 2px;
        padding-right: 2px;
        border-radius: 3px;
    }    
}